*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    background-image: url("Images/background.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
     
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    
}